.blogs-container{
    display: flex;
    flex-wrap: wrap;
}
.blogs{
    width: 65%;
}
.result-container{
    width: 35%;
}
.spent-time{
    padding: 20px;
    border: 1px solid #6047EC;
    margin: 30px 0 20px;
    text-align: center;
    color: #6047EC;
    font-weight: bold;
    background: #6047ec1a;
    font-size: 20px;
    border-radius: 5px;
}
.blogs-wrap{
    padding-right: 30px;
}
.bookmarked-blogs{
    padding: 20px;
    background: #ddd;
    border-radius: 5px;
}
.bookmarked-count{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bookmarked-item{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
@media(max-width:927px){
    .blogs{
        width: 100%;
    }
    .result-container{
        width: 100%;
    }
    .blogs-wrap{
        padding-right: initial;
    }
}